@layer components {
  .foot {
    margin-top: 10rem;
    z-index: 1;
    --foot-background: var(--backgroundLight);
    display: grid;
    position: relative;
    grid-area: foot;
    min-height: 12rem;
  }
  .foot .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--foot-background);
    filter: url('#blob');
  }
  .foot .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--foot-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
      bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
      bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  .foot .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--foot-background);
  }
  .foot .content a,
  .foot .content p {
    color: var(--textBody);
    text-decoration: none;
    transition: color var(--durationS) ease;

    &:hover {
      color: var(--accent);
    }
  }
  .foot .content b {
    color: var(--textTitle);
  }
  .foot .content p {
    margin: 0;
    font-size: 0.75rem;
  }
  .foot .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .foot .content > div > div {
    margin: 0.25rem 0;
  }
  .foot .content > div > div > * {
    margin-right: 0.5rem;
  }
  .foot .content > div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }

  @-webkit-keyframes bubble-size {
    0%,
    75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }

  @keyframes bubble-size {
    0%,
    75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
    100% {
      bottom: var(--distance, 10rem);
    }
  }

  .footer {
    --lineHeight: 2;

    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    width: 100vw;
    padding: var(--space3XL) var(--spaceL);
    z-index: var(--zIndex2);
    position: relative;
  }

  .link {
    display: inline-flex;
  }

  .date {
    padding-right: var(--spaceXS);
    display: inline-flex;
    color:#fff;
  }
}
